div.a{
    text-align: center;
    background-color: lightpink;
    color: blue;
}
div.b{
    background-color: aliceblue;
    color: royalblue;
    text-align: center;
    position: relative;
    bottom: 15px;
}
a:hover{
    background-color: yellow;
    color: black;
}
input.opinio{
    height: 5cm;
    width: 6cm;
}
div.contacte{
    text-align: center;
    background-color: lightsalmon;
    height: 10cm;
    width: 15cm;
    position: relative;
    left: 100px;
    top: 100px;
}
p.con{
    color: blue;
    font-weight: bold;
}
p.peli{
    color: blue;
    font-weight: bold;
}








